table {
	border: 3px groove Navy;
}

td:hover {
	background-color: MistyRose;
	color: navy;
}

tr, th {
	background-color: thistle;
	color: navy;
}

tr, td {
	background-color: snow;
	color: steelblue:
}